.h1-branco{
    color: var(--w);
    font-size: 4rem;
    line-height: 1.1;
}

.h1-branco span{
    color: var(--p1);
}

.h1-preto{
    color: var(--c11);
    font-size: 4rem;
    line-height: 1.2;
}

.h1-preto span{
    color: var(--p1);
}

.texto-alternativo-cinza{
    color: var(--c5);
    max-width: 400px;
    /* font-size: 1.5rem; */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.subtitulo-preto{
    color: var(--c11);
    font-size: 4rem;
    line-height: 1.2;
}

.texto-pequeno-preto{
    color: var(--c11);
    font-size: 2rem;
    font-weight: 800;
}

.texto-pequeno-preto span{
    color: var(--p1);
}

.texto-alternativo-cinza-small{
    color: var(--c5);
    max-width: 400px;
    font-size: 1.125rem;
}

.texto-amarelo-bold{
    color: var(--p1);
    font-size: 2rem;
    font-weight: 800;
    text-decoration: underline 4px;
    display: inline-block;
}

.texto-pequeno-branco{
    color: var(--w);
    font-size: 1.5rem;
}

.btn-style{
    padding: 1rem 2rem;
    background: linear-gradient(to right, var(--p1), var(--p2));
    color: var(--c12);
    border-radius: 4px;
    border: none;
}

.btn-style-cinza{
    padding: 1rem 2rem;
    background: var(--c10);
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 1.2rem;
}