.section-seguros1{
    width: 100%;
    min-height: 800px;
    background-color: var(--c11);
    /* border: 2px solid blue; */
}

.content-seguros{
    /* border: 2px solid brown; */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seguros-prata-ouro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seguros-prata{
    background-color: black;
    color: white;
    padding: 20px 60px;
    height: 400px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 4px;
}

.seguros-prata .preco,
.seguros-ouro .preco{
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 100%;
    margin-top: -47px;
}

.seguros-ouro .preco{
    margin-top: -60px;
}

.seguros-prata .preco p, 
.seguros-ouro .preco p{
    font-size: 2.25rem;
    line-height: 0.825;
    font-weight: 800;
}

.seguros-prata h2,
.seguros-ouro h2{
    color: var(--c6);
    font-size: 2.25rem;
}

.seguros-ouro{
    background-color: black;
    color: white;
    padding: 20px 60px;
    min-height: 484px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 4px;
}

.seguros-ouro button{
    font-size: 1.2rem;
}

.seguros-prata img,
 .seguros-ouro img{
    width: 25px;
    margin-right: 5px;
}

@media (max-width:1140px){
    .seguros-prata-ouro{
        flex-direction: column;
    }

    .seguros-prata{
        margin-top: 20px;
        width: 90%;
        min-height: 325px;
    }

    .seguros-ouro{
        margin-top: 20px;
        width: 90%;
        max-height: 325px;
    }

    .section-seguros1::after{
        display: none;
    }
}

@media (max-width: 400px){
    .seguros-prata .preco p,
    .seguros-ouro .preco p{
        font-size: 1.2rem;
    }
}

@media (max-width: 400px){
    .seguros-ouro .preco p{
        margin-top: 10px;
    }
}

@media (max-width: 350px){
    .seguros-prata button{
    font-size: 1rem;
}
}


@media (max-width: 330px){
    .seguros-prata button,
    .seguros-ouro button{
    font-size: 0.825rem;
}
    .seguros-ouro .preco p, span{
        margin-right: -20px;
        font-size: 0.9rem;
    }

    .seguros-prata .preco p, span{
        margin-right: -20px;
        font-size: 0.9rem;

    }
}

.section-seguros1::after{
    content: url(./img/dec/bottom-left.svg);
    position: absolute;
    margin-top: 170px;
    margin-left: 20px;

}

/* FInalizei */