.img-bike-pequena{
    width: 100%;
    max-width: 600px;
    max-height: 720px;
    object-fit: cover;
    border-radius: 8px;
}

.bikes{
    max-width: 1200px;
    max-height: 720px;
    /* border: 2px solid blue; */
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 120px;
    margin-bottom: 200px;
}

.img-bikes{
    display: flex;
    gap: 40px;
    place-content: center;
}

@media (max-width: 1290px){
    .img-bikes{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        /* padding: 0 20px; */
        gap: 0px;
        place-content: unset;
    }

    .bikes{
        margin-top: 120px;
    }

    .quadrado-bikes{
        margin-right: 30px;
    }

    .img-bike-pequena{
        border-radius: 8px;
    }
}

@media (max-width: 1210px){
    .bikes{
        margin-top: 0px;
    }
}

@media (max-width: 620px){
    .bikes{
        margin-bottom: 100px;
    }
}