.main-orcamento{
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    background: linear-gradient(to bottom, var(--c11) 0%, var(--c11) 60%, white 60%, white 100%);
    margin-bottom: 120px;
}

.container-orcamento{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.form-orcamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 0px 1px 1px var(--c2);

}

.form-orcamento p{
    grid-column: span 2;
}


.form-orcamento a{
    color: black;
    text-decoration: underline;
}

.main-orcamento p{
    position: relative;
    display: flex;
    align-items: center;
}

.main-orcamento p::before{
    content: "";
    width: 4px;
    height: 8px;
    background-color: var(--p1);
    display: inline-block;
    position: absolute;
    left: -10px;
}

.btn{
    grid-column: span 2;
}

.form-orcamento label{
    display: block;
}

.col-2{
    grid-column: span 2;
}

.checkbox{
    grid-column: span 2;
}

input[type="checkbox"]{
    margin-right: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea{
    padding: 5px 10px;
    outline: none;
    border: 1px solid var(--c3);
    border-radius: 4px;
    background-color: var(--c2);
    width: 100%;
}

input:focus{
    border: 1px solid var(--p1);
    background-color: white;
}

label{
    color: var(--c11);
    font-weight: 500;
    font-size: 1rem
}

/* Estilização do formulario lado esquerdo */

.form-radio{
    width: 100%;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    align-content: start;
    gap: 20px;
    background-color: black;
}

.form-radio p{
    grid-column: span 2;
}

.form-radio label{
    background-color: var(--c10);
    color: var(--c4);
    border: 1px solid var(--p1) transparent;
    padding: 12px 28px;
    border-radius: 4px;
    display: block;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-radio label::before{
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid black;
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 8px;
}


.bikcraft-checked + div{
    width: 100%;
    grid-column: span 2;
}

.form-radio input{
    opacity: 0;
    pointer-events: none;
}

.form-radio input:checked + label{
    background-color: var(--c2);
    color: var(--c11);
    border: 1px solid var(--p1);
    box-shadow: 1px 1px 1px 0px var(--p2);
}

.form-radio input:checked + label::before{
    box-shadow: inset 0 0 0 3px white, inset 0 0 0 6px black;
}

.bikes-lista{
    display: none;
    margin-top: 30px;
}

.planos{
    display: none;
    margin-top: 30px;
}

#bikcraft:checked ~ .bikes-lista{
    display: block;
}

#bikcraft:checked ~ .planos{
    display: none;
}

#seguro:checked ~ .planos{
    display: block;
}

#magic + label span,
#nimbus + label span,
#nebula + label span{
    display: none;
}

#magic:checked + label span,
#nimbus:checked + label span,
#nebula:checked + label span{
    display: block;
}

#prata + label span,
#ouro + label span{
    display: none;
}

#prata + label span,
#ouro + label span{
    display: none;
}

#prata:checked + label span,
#ouro:checked + label span{
    display: block;
}

.planos label{
    display: flex;
    justify-content: space-between;
}

.bikes-lista label{
    display: flex;
    justify-content: space-between;
}

/* @media (max-width: 674px){
    .planos label{
    display: flex;
    flex-direction: column;
}

.bikes-lista label{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.planos label{
    display: flex;
    flex-direction: column;
    text-align: center;
}
}

@media (max-width: 480px){
.container-orcamento{
    grid-template-columns: 1fr;
}
} */

@media (max-width: 590px){
.container-orcamento{
    grid-template-columns: 1fr;
}
}

@media (max-width: 500px){
.main-orcamento{
    margin-bottom: 40px;
}

}

footer{
    padding: 40px;
}

@media(max-width: 318px){
    footer{
    padding: 10px;
}
}

