article{
    /* max-height: 240px; */
    width: 100%;
    background-color: var(--c11);
    padding: 60px 0;
    gap: 80px;
    /* border: 2px solid blue; */
}

.cta-article{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.article-bikes{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border: 2px solid brown; */
}

.article-bike1,
.article-bike2,
.article-bike3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 400px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid blueviolet; */
}

.article-bike1 img,
.article-bike2 img,
.article-bike3 img{
    width: 540px;
    height: 320px;
    border-radius: 4px;
    object-fit: cover;
}

/* .text-bike1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: left;
    text-align: left;
} */

.item-bike1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.article-bike1 h2,
.article-bike3 h2{
    font-size: 2.25rem;
    text-align: left;
    /* border: 2px solid brown; */
    position: relative;
}


.article-bike1 p,
.article-bike2 p,
.article-bike3 p{
    color: var(--c8);
    font-size: 1.125rem
}

li{
    font-size: 1.125rem;
}

.itens-button{
    display: flex;
    width: 600px;
    justify-content: space-between;
    /* border: 2px solid brown; */
}

.section-bike2{
    width: 100%;
    height: 460px;
    /* max-width: 1200px; */
    display: flex;
    align-items: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background-color: black; */
     background: linear-gradient(to right, white 0% 25%, #111 25% 100%);
    /* border: 2px solid blue; */
}

/* .section-bike2 .article-bike1 h2{
    font-size: 2.25rem;
    color: white;
} */

.article-bike2 h2{
    font-size: 2.25rem;
    color: white;
    position: relative;
    /* text-align: left; */
}

/* .article-bike2 h2::after{
    content: "";
    background-image: url(./img/dec/top-right.svg);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    right: 0px;
    bottom: 10px;
} */

h2::after{
    content: "";
    background-image: url(./img/dec/top-right.svg);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    right: 0px;
    bottom: 10px;

}

.section-bike2 .article-bike1 p{
    /* font-size: 2.25rem; */
    color: var(--c7);
}

.article-bike2 p{
    /* font-size: 2.25rem; */
    color: var(--c6);
}

.article-bike1 h2::before{
    content: "R$ 4999";
    font-size: 1.2rem;
    font-weight: 300;
    background-color: var(--c11);
    position: absolute;
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 2px 12px;
    left: -164px;
    top: 10px;
}

.article-bike2 h2::before{
    content: "R$ 2999";
    font-size: 1.2rem;
    font-weight: 300;
    background-color: var(--c11);
    position: absolute;
    /* left: 600px;
    top: 900px; */
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 2px 12px;
    left: -150px;
    top: 10px;
}

.article-bike3 h2::before{
    content: "R$ 3999";
    font-size: 1.2rem;
    font-weight: 300;
    background-color: var(--c11);
    position: absolute;
    /* left: 600px;
    top: 900px; */
    display: inline-block;
    color: white;
    border-radius: 4px;
    padding: 2px 12px;
    left: -163px;
    top: 10px;
}

#eletrica{
    width: 30px;
    height: 30px;
    display: inline-block;
}

.eletrica{
    display: flex;
    gap: 10px;
}

.eletrica::before{
    content: url(./img/icones/eletrica.svg);
}

.carbono{
    display: flex;
    gap: 10px;
}

.carbono::before{
    content: url(./img/icones/carbono.svg);
}

.velocidade{
    display: flex;
    gap: 10px;
}

.velocidade::before{
    content: url(./img/icones/velocidade.svg);
}

.rastreador{
    display: flex;
    gap: 10px;
}

.rastreador::before{
    content: url(./img/icones/rastreador.svg);
}