.h1-branco::after{
    content: url(./img/dec/top-right.svg);
    position: absolute;
    right: 0px;
    top: -10px;
}

.h1-branco{
    position: relative;
}

.texto-seguros{
    font-size: 1rem;
    color: var(--c6);
    max-width: 400px;
}

.vantagens-seg{
    width: 100%;
    background-color: black;
    height: 748px;
    /* border: 2px solid blue; */
}

.content-vantagens{
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
}

.container-vantagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 4px solid yellow; */
    position: relative;
}

.grid-vantagens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid red; */
    gap: 40px;
    margin-top: 40px;
}

.reparo::before{
    content: url(./img/icones/eletrica.svg);
}

.eletrico::before{
    content: url(./img/icones/carbono.svg);
}

.sustentavel::before{
    content: url(./img/icones/sustentavel.svg);
}

.recuperacao::before{
    content: url(./img/icones/rastreador.svg);
}

.seguranca::before{
    content: url(./img/icones/seguro.svg);
}

.rapidez::before{
    content: url(./img/icones/rastreador.svg);
}

.container-vantagens::after{
    content: url(./img/dec/bottom-right.svg);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container-vantagens::before{
    content: url(./img/dec/bottom-left.svg);
    position: absolute;
    bottom: 0px;
    left: 10px;
}

@media (max-width: 800px){
    .grid-vantagens{
        grid-template-columns: 1fr 1fr;
    }

    .container-vantagens::before,
    .container-vantagens::after{
        display: none;
    }
}

@media (max-width: 651px){
    .vantagens-seg{
        height: 100%;
    }
}

@media (max-width: 395px){
    .grid-vantagens{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .h1-branco-no-details{
        font-size: 3rem;
    }
}