@import url(./utilitario.css);
@import url(./classes-utilitaria.css);
@import url(./section-bikes.css);
@import url(./section-info.css);
@import url(./section-parcerias.css);
@import url(./section-motivacional.css);
@import url(./section-seguros.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header-bg{
    width: 100%;
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid white; */
}

ul{
    display: flex;
    gap: 40px;
}

a{
    text-decoration: none;
    color: white;
}

.main-bg{
    width: 100%;
    max-height: 800px;
    /* border: 2px solid red; */
}

.main{
    background-color: black;
    width: 100%;
    max-height: 680px;
    margin-left: auto;
    margin-right: auto;
    
}

.content-main{
    display: grid;
    grid-template-columns: 2fr 1fr;    
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
}

.column-left{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: first baseline;
}

.img-intro{
    max-width: 640px;
    height: 800px;
    object-fit: cover;
}

.column-left::after{
    content: url(./img/dec/bottom-left.svg);
    position: relative;
    left: -200px;
}

@media (max-width: 500px){
    ul{
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;
    }

    li{
        background-color: var(--c11);
        padding: 10px 20px;
        border-radius: 4px;
        gap: 0px;
    }

    .header{
        flex-wrap: wrap;
    }
}

@media (max-width: 1210px){
    .img-intro{
        max-width: 90%;
        height: auto;
        /* max-height: 640px; */
        object-fit: cover;
        display: block;
    }

    .content-main{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    max-width: 1200px;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
}

    .column-left .texto-alternativo-cinza, .h1-branco{
        width: auto;
    }
}

@media (max-width: 900px){
    .column-left .h1-branco{
        font-size: 2.5rem;
        width: auto;
    }
    
    .column-left .texto-alternativo-cinza{
        font-size: 1rem;
        width: auto;
    }

    .btn-style{
    padding: 0.7rem 1rem;
    }
}

@media (max-width: 600px){
    .content-main{
        grid-template-columns: 1fr;
        align-content: center;
    }

    .main{
        background-color: var(--c10);
    }

    .img-intro{
        margin-top: -20px;
        place-self: center;
        height: auto;
    }

    .column-left{
        padding: 0 10px;
        align-items: left;
        gap: 10px;
    }
}