article{
    width: 100%;
    height: 230px;
    background-color: var(--c11);
}

.text-nav{
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid blue; */
}

@media (max-width: 378px){
    .text-nav h1{
        font-size: 3rem;
    }
}

.main-principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    /* border: 2px solid blue; */
}

.bicicletas{
    max-width: 1200px;
    /* border: 2px solid brown; */
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
}

.content-bicicletas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    /* border: 2px solid blue; */
}

.preco-bike{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: black;
    padding: 0 15px;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 100;
}

.imagem-container{
    position: relative;
    width: 100%;
    /* border: 2px solid blue; */
}

.imagem-container img{
    width: 100%;
}

.imagem-container img{
    max-width:  100%;
    max-height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.h2-name-bikes{
    font-size: 2rem;
    position: relative;
}

.h2-name-bikes::after,
.h2-name-bikes-branco::after{
    content: url(./img/dec/top-right.svg);
    position: absolute;
    right: 0px;
    top: -10px;
}

.h2-name-bikes-branco{
    font-size: 2rem;
    position: relative;
    color: white;
}

.description{
    font-size: 1rem;
    color: var(--c7);
}

.especifications-bikes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.especifications-bikes p{
    color: var(--c7);
    font-weight: 600;
}

.botao-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.especifications-bikes img{
    width: 30px;
    height: 30px;
}

.eletrica{
    display: flex;
    gap: 10px;
}

.eletrica::before{
    content: url(./img/icones/eletrica.svg);
}

.carbono{
    display: flex;
    gap: 10px;
}

.carbono::before{
    content: url(./img/icones/carbono.svg);
}

.velocidade{
    display: flex;
    gap: 10px;
}

.velocidade::before{
    content: url(./img/icones/velocidade.svg);
}

.rastreador{
    display: flex;
    gap: 10px;

}

.rastreador::before{
    content: url(./img/icones/rastreador.svg);
}

.main-secundario{
    background: linear-gradient(to right, #FFF 0% 30%, #111 30% 100%);
    min-height: 460px;
    align-items: center;
    display: flex;
} 

@media (max-width: 868px){
    .content-bicicletas{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 290px;
        
    }

    .imagem-container{
        width: 100%;
        height: 426px;
        object-fit: cover;
        border: 2px solid yellowgreen;

    }

    .imagem-container img{
        min-width: 100%;
        min-height: 100%;
        
    }

    .main-secundario{
        background-image: none;
        background-color: #111;
        height: 100%;
        display: flex;
        align-items: end;
    }
}

@media (max-width: 620px){
    .main-secundario .content-bicicletas{
        grid-template-rows: 1fr 315px;
    }
}

@media (max-width:444px){
    .content-bicicletas, .main-secundario .content-bicicletas{
        grid-template-rows: 1fr 350px;
    }
}

@media (max-width:353px){
    .content-bicicletas, 
    .main-secundario .content-bicicletas{
        grid-template-rows: 1fr 380px ;
    }
}

@media (max-width:289px){
    .content-bicicletas,
    .main-secundario .content-bicicletas{
        grid-template-rows: 1fr 1fr ;
    }

    .btn-style{
        font-size: 0.825rem;
    }
}
