.main-formulario{
    background-image: linear-gradient(to bottom, #111 0% 60%, white 60% 100%);
    color: white;
    width: 100%;
    height: 100%;
    /* border: 2px solid brown; */
}

.grid-formulario-local{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: white; */
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* border: 2px solid blue; */
}

.content-localizacao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 60px;
    background-color: black;
    /* border: 2px solid blue; */
    justify-content: space-between;
    position: relative;
}

.content-localizacao::after{
    content: url(./img/dec/top-right.svg);
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 30px;
}

.local-inf{
    position: relative;
}

.local-inf::before{
    content: url(./img/icones/local.svg);
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: -25px;
}

.contacts-email{
    position: relative;
}

.contacts-email::before{
    content: url(./img/icones/email.svg);
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: -25px;
}

.phone{
    position: relative;
}

.phone::before{
    content: url(./img/icones/telefone.svg);
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: -25px;
}

.content-form{
    /* border: 2px solid green; */
    /* align-items: center; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    position: relative;
}

.content-form button{
    margin-top: 10px;
    align-self: start;
}

.content-form button::after{
    content: url(./img/dec/bottom-right.svg);
    position: absolute;
    right: 0px;
}

.formulario{
    /* border: 2px solid lightcoral; */
    min-width: 500px;
    min-height: 600px;
    background-color: white;
    padding: 40px;
    gap: 200px;
}

.nome-telefone{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nome{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.content-form input,
.content-form textarea{
    padding: 5px 10px;
    outline: none;
    border: 1px solid var(--c3);
    border-radius: 4px;
    background-color: var(--c2);
}

.content-form label{
    color: var(--c11);
    font-weight: 500;
    font-size: 1rem
}

i{
    color: var(--p1);
}

@media (max-width:880px){
    .grid-formulario-local{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 563px){
    .formulario{
        min-width: 100px;
        min-height: 100px;
    }

    .nome-telefone{
        flex-direction: column;
    }

    .grid-formulario-local{
        min-width: 100px;
    }
}

@media (max-width:390px){
    .content-form label{
        font-size: 1rem;
    }
    .content-form{
        min-width: 100px;
    }

    .grid-formulario-local{
        min-width: 200px;
    }

    .formulario{
        width: 100%;
    }

    .content-localizacao p{
        font-size: 0.825rem;
    }

    .content-localizacao{
        min-width: 100px;
    }

    .redes-sociais{
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .content-form button::after{
        display: none;
    }
}

@media(max-width: 315px){
    .contacts-email, .contacts-email::before{
        display: none;
    }

    .content-localizacao::after{
        display: none;
    }
}

/* Aqui inicio a estilização da section-lojas-locais */

/* .section-lojas-locais{
    width: 100%;
    border: 2px solid blue;
    height: 100%;
    background-color: var(--c2);
}

.container-lojas-locais{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.content-lojas-locais{
    display: flex;
}

.content-lojas-locais img{
    max-width: 560px;
    max-height: 260px;
    object-fit: cover;
}

.content-infos{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    max-width: 560px;
    gap: 10px;  
    background-color: white;  
}

.content-esquerda{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 2px 10px var(--c4);
}

.infos{
    border-top: 2px solid var(--c2);
    padding: 10px 0;
}

.enderecos{
    margin-bottom: 10px;
}

.content-infos h2{
    font-size: 2rem;
    position: relative;
}

.content-infos h2::before{
    content: "";
    width: 12px;
    height: 8px;
    background-color: var(--p1);
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: -25px;
    top: 20px;
}

.content-infos span{
    font-weight: 700;
    position: relative;
    margin-left: -20px;
}

.content-infos span::before{
    content: url(./img/icones/horario.svg);
    margin-right: 10px;
}

.content-esquerda{
    margin-right: 40px;
} */

.section-lojas{
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    background-color: var(--c2);
}

.grid-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 100px 1fr; */
    gap: 40px 20px;
    border: 2px solid brown;
}

.grid-container h1{
    grid-column: 1;
}

.lojas-item{
    grid-row: 2;
}

.lojas-item img{
    width: 560px;
    height: 260px;
    display: block;
    object-fit: cover;
}

.lojas-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    background-color: white;
    border: 2px solid red;
}

.lojas-item-direita{
}